<a href="https://colab.research.google.com/github/maybje/CE888/blob/master/lab5/lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lab 5  - Recommender systems

In [0]:
import pandas as pd
import numpy as np

### 1. Load the data from ``jester-data-1.csv''

In [2]:
rates = pd.read_csv("https://raw.githubusercontent.com/albanda/CE888/master/lab5-recommender/jester-data-1.csv", header=None)
columns=rates.columns
rates=rates[columns[1:]]
rates.head()

     1      2      3      4     5    ...    96     97     98     99     100
0  -7.82   8.79  -9.66  -8.16 -7.52  ...  99.00  -5.63  99.00  99.00  99.00
1   4.08  -0.29   6.36   4.37 -2.38  ...  -2.14   3.06   0.34  -4.32   1.07
2  99.00  99.00  99.00  99.00  9.03  ...  99.00  99.00  99.00  99.00  99.00
3  99.00   8.35  99.00  99.00  1.80  ...  99.00  99.00  99.00  99.00  99.00
4   8.50   4.61  -4.17  -5.39  1.36  ...   1.55   3.11   6.55   1.80   1.60

[5 rows x 100 columns]

### 2.  Using the helper function provided in the helper_function notebook (or create your own), label 10% of the dataset cells as 99. This is your validation set. Keep the the actual values of the cells so you can use them later.

In [0]:
def replace(orig, percentage=0.1):
  """
  Replaces 'percentage'% of the original values in 'orig' with 99's
  :param orig: original data array
  :param percentage: percentage of values to replace (0<percentage<1)
  """
  new_data = orig.copy()
  rated = np.where(arr!=99)
  n_rated = len(rated[0])
  idx = np.random.choice(n_rated, size=int(percentage*n_rated), replace=False)
  new_data[rated[0][idx], rated[1][idx]] = 99
  return new_data, (rated[0][idx], rated[1][idx])

In [0]:
arr=rates.values
new_arr, idx = replace(arr, 0.1)

### 3. Use latent factor modeling to infer the hidden ratings of the users (they are labeled as "99" in the dataset) on the training set

In [0]:
n_latent_factors = 2

user_ratings = new_arr
# Initialise as random values
latent_user_preferences = np.random.random((user_ratings.shape[0], n_latent_factors))
latent_item_features = np.random.random((user_ratings.shape[1], n_latent_factors))

In [0]:
def predict_rating(user_id, item_id):
    """ Predict a rating given a user_id and an item_id.
    """
    user_preference = latent_user_preferences[user_id]
    item_preference = latent_item_features[item_id]
    return user_preference.dot(item_preference)


def train(user_id, item_id, rating, alpha=0.0001):
    
    #print item_id
    prediction_rating = predict_rating(user_id, item_id)
    err =  prediction_rating - rating
    #print err
    user_pref_values = latent_user_preferences[user_id][:]
    latent_user_preferences[user_id] -= alpha * err * latent_item_features[item_id]
    latent_item_features[item_id] -= alpha * err * user_pref_values
    return err
    

def sgd(iterations=3000, n_print=500, alfa=0.0001):
    """ Iterate over all users and all items and train for 
        a certain number of iterations
    """
    for iteration in range(iterations):
        error = []
        mse=float("inf")
        for user_id in range(latent_user_preferences.shape[0]):
            for item_id in range(latent_item_features.shape[0]):
                rating = user_ratings[user_id][item_id]
                if rating!=99:
                    err = train(user_id, item_id, rating,alfa)
                    error.append(err)
        mse_n = (np.array(error) ** 2).mean()
        if np.isnan(mse_n):
          break   
        elif mse_n>mse:
          print("Started to diverge: ",  mse)
          break
        else:
          mse=mse_n
        if (iteration % n_print) == 0:
            print(mse)

In [0]:
#It starts converging after 100 iterations, and seems to start diverging afterwards.
sgd(iterations=201,n_print=50)

26.265050992613425
17.1638053378769
17.081100939505095
17.082869733174423

### 4.  Calculate the performance (e.g., MSE) of the algorithm on the validation dataset

In [0]:
predictions = latent_user_preferences.dot(latent_item_features.T)

In [0]:
errors =(predictions[idx[0][:], idx[1][:]] - arr[idx[0][:], idx[1][:]])**2

mse=sum(errors)/len(errors)
mse

18.094688017266957

## 5. Repeat the two points above changing hyper-parameters (i.e., learning rate, number of iterations of SVD, number of latent factors, etc.) as needed to get good results (you can create multiple validation sets if you want, and run a bootstrap!)

### Grid Search
It was noticed learning rates greater than 0.0001 produce 'nan' values. For this reason, we just loop through the number of factors and increase the number of iterations. We added a condition to the "sgd" function: if it starts diverging it will stop.

In [0]:
arr=rates.values
new_arr, idx = replace(arr, 0.1)

In [0]:
n_latent_factors = [2,3,4,5,6]
alph=[.0001]
mse_i=float("inf")

In [0]:
for l in n_latent_factors:
  for a in alph:
    print("Testing: ", l, a)

    user_ratings = new_arr
    # Initialise as random values
    latent_user_preferences = np.random.random((user_ratings.shape[0], l))
    latent_item_features = np.random.random((user_ratings.shape[1], l))

    sgd(iterations=201,n_print=50, alfa=a)
    predictions = latent_user_preferences.dot(latent_item_features.T)
    errors =(predictions[idx[0][:], idx[1][:]] - arr[idx[0][:], idx[1][:]])**2
    n_mse=sum(errors)/len(errors) 
    
    print("Current combination: ", n_mse)
    if n_mse<mse_i:
      mse_i=n_mse
      num_l=l
      opt_alph=a

print("Optimal number of factors: ", num_l)    
print("Optimal alpha: ", opt_alph)
print("min mse: ", mse_i)

Testing:  2 0.0001
26.2289314115267
17.22568891419005
17.08540149496422
17.086883800650906
17.089577717742227
Current combination:  18.040001573385606
Testing:  3 0.0001
25.891895863178803
17.17912864201001
16.307899025134436
16.08145077919943
16.06776461266531
Current combination:  17.51511109964257
Testing:  4 0.0001
25.74783366193592
17.084218756420398
15.654460618706118
15.324207416193895
15.252098403467022
Current combination:  17.209268641657136
Testing:  5 0.0001
25.606965109546092
17.17844327650152
15.309475056357604
14.622783751702782
14.537273014535987
Current combination:  16.978066576191654
Testing:  6 0.0001
25.550860429596277
17.27405214291506
15.325716661379381
14.335064420918886
14.05865198829248
Current combination:  16.958645896796998
Optimal number of factors:  6
Optimal alpha:  0.0001
min mse:  16.958645896796998

It was noticed the more latent factors, the smaller the errror becomes. We decide to train our model with 6 latent factors and train it for more iterations.

In [7]:
user_ratings = new_arr
# Initialise as random values
latent_user_preferences = np.random.random((user_ratings.shape[0], 6))
latent_item_features = np.random.random((user_ratings.shape[1], 6))

sgd(iterations=501,n_print=50, alfa=0.0001)
predictions = latent_user_preferences.dot(latent_item_features.T)
errors =(predictions[idx[0][:], idx[1][:]] - arr[idx[0][:], idx[1][:]])**2
n_mse=sum(errors)/len(errors)

25.55733996044708
17.20795668795721
15.174565868208227
14.23242523970631
14.067851116969832
14.013905305342192
13.995256865998877
13.990072559276522
13.990654026812969
13.994246172241905
13.999784841044445

Final MSE

In [10]:
print("test mse: ", n_mse)

test mse:  17.067276684718603

## 6. Once you're happy, make predictions for the test dataset

In [0]:
n_latent_factors = 6

user_ratings = rates.values
# Initialise as random values
latent_user_preferences = np.random.random((user_ratings.shape[0], n_latent_factors))
latent_item_features = np.random.random((user_ratings.shape[1], n_latent_factors))

In [12]:
sgd(iterations=351,n_print=50, alfa=.0001)

25.53416211218568
17.063147699572905
14.904035878281421
14.299038242825118
14.184778997049117
14.163264479581931
14.159296292413604
14.160867318413326

In [0]:
predictions = latent_user_preferences.dot(latent_item_features.T)
values = [zip(user_ratings[i], predictions[i].round(2)) for i in range(predictions.shape[0])]
comparison_data = pd.DataFrame(values)
comparison_data.columns = rates.columns

In [23]:
comparison_data

                  1              2    ...            99             100
0      (-7.82, -2.12)  (8.79, -1.75)  ...  (99.0, -6.45)  (99.0, -4.33)
1        (4.08, 3.28)  (-0.29, 1.91)  ...  (-4.32, 2.18)   (1.07, 4.56)
2        (99.0, 7.23)   (99.0, 5.51)  ...   (99.0, 6.34)    (99.0, 6.8)
3         (99.0, 2.5)   (8.35, 5.55)  ...  (99.0, -1.29)   (99.0, 6.93)
4         (8.5, 2.37)   (4.61, 3.48)  ...     (1.8, 2.6)    (1.6, 4.98)
...               ...            ...  ...            ...            ...
24978    (0.44, 0.89)    (7.43, 0.0)  ...   (8.79, 1.39)   (7.43, 5.59)
24979    (9.13, 4.52)  (-8.16, 1.63)  ...   (9.13, 0.07)   (8.45, 3.79)
24980   (99.0, -3.27)   (99.0, 0.28)  ...  (99.0, -0.34)   (99.0, 1.86)
24981   (99.0, -0.39)   (99.0, 1.67)  ...  (99.0, -2.38)  (99.0, -0.82)
24982    (2.43, 2.25)   (2.67, 3.16)  ...   (99.0, 4.19)   (99.0, 3.56)

[24983 rows x 100 columns]

Some of the predictions are quite close to the real value, however some others are very far. Increasing the number of latent factors could help to reduce the error. 

On the other hand, increasing the number of iterations helps up to one point when the error starts converging to a steady number, and even diverging. The soultion is increasing even more the number of latent factors (not explored due to the running time (several hours)).